# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore test results
*.log
.coverage

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore IDE/editor files
.vscode/
.idea/
